<div class="nested-fields">
  
  <div class="subject-card">
    <div class="subject-card-top">
      <%= link_to_remove_association f, class: "remove-subject-btn d-block" do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
      <div class="form-lookback_detail">
        <%= f.select :subject, [["英語", "英語"], ["国語", "国語"], ["数学", "数学"], 
                                ["物理", "物理"], ["化学", "化学"], ["生物", "生物"], ["理科基礎", "理科基礎"],
                                ["地学", "地学"], ["日本史", "日本史"], ["世界史", "世界史"], 
                                ["地理", "地理"], ["倫理", "倫理"], ["政治・経済", "政治・経済"], 
                                ["倫理、政治・経済", "倫理、政治・経済"], ["現代社会", "現代社会"],
                                ["小論文", "小論文"],  ["簿記・会計", "簿記・会計"],
                                ["情報関係基礎", "情報関係基礎"], ["外国語", "外国語"], ["その他", "その他"]], {include_blank: "科目を入力"}, {class: 'subject-form font-awesome-solid-icon'} %>
      </div>
      <%= link_to_add_association f, :lookback_details, class: "add-content-btn question-btn d-block", id: "detail-add-btn-0",
      data: {association_insertion_node: "#detail-association-insertion-point-0",
      association_insertion_method: 'before',
      question_num: 0} do%>
        <p class="add-content-word d-inline">大問</p>
        <i class="fas fa-plus d-inline"></i>
      <% end %>
    
      <%= link_to_add_association f, :reviews, class: "add-content-btn review-btn d-block", id: "review-add-btn-0",
      data: {association_insertion_node: "#review-association-insertion-point-0",
      association_insertion_method: 'before'} do%>
        <p class="add-content-word d-inline">付箋</p>
        <i class="fas fa-plus d-inline"></i>
      <% end %>
    </div>
    <div class="subject-card-bottom">
      
      <div class="flex-container-detail">
        <%= f.fields_for :lookback_details do |u| %>
          <%= render "lookbacks/edit_lookback_detail_fields", f: u%>
        <% end %>
        <div class="insertion-position-box-detail" id="detail-association-insertion-point-0"></div>
      </div>
      
      <div class="flex-container-review">
        <%= f.fields_for :reviews do |u| %>
          <%= render "lookbacks/review_fields", f: u%>
        <% end %>
        <div class="insertion-position-box-review", id="review-association-insertion-point-0"></div>
      </div>
    <div class="links">
      <%= link_to_add_association f, :reviews, class: "add-content-btn review-btn-small d-block", id: "review-add-btn-0",
      data: {association_insertion_node: "#review-association-insertion-point-0",
      association_insertion_method: 'before'} do%>
        <p class="add-content-word d-inline">付箋</p>
        <i class="fas fa-plus d-inline"></i>
      <% end %>
    </div>
      
    </div>
  </div>
  
</div>