<div class="nested-fields">
  
  <div class="lookback-detail-card">
    <div class="lookback-detail-card-top">
      <%= f.hidden_field :number, :value => 1%>
      <div class="number-word">大問：1</div>
      <%= link_to_remove_association f, class: "lookback-detail-remove-btn" do %>
        <i class="fas fa-times"></i>
      <% end %>
    </div>
    <div class="lookback-detail-card-bottom">
      <%= f.text_field :unit, class: 'lookback-detail-card-bottom-formbox form-unit', placeholder: "単元"%>
      <%= f.text_area :text, class: 'lookback-detail-card-bottom-formbox form-lookback_word', placeholder: "振り返り" %>
      <%= f.hidden_field :lookback_id, :value => @lookback.id  %>
    </div>
  </div>
  
</div>