<div class= "review-tape <%= 'done-tape' if done_review_ids.include?(review.id) %>"></div>
<div class="l-border l-p-t l-p-r l-p-b l-p-l review-box review-box-user-page review-click-event">
  <div class="review-text review-text-user">
    <%= review.content %>
  </div>
  <div class="deadline-box deadline-box-user">
    <div class="deadline-text d-inline deadline-text-user-show" >
      <%= review.deadline_at.strftime("%Y年%m月%d日") %>
    </div>
    <p class="deadline-word d-inline">まで</p>
    <% if !done_review_ids.include?(review.id) %>
      <%= form_with model: @done, url: dones_path, method: :post, local: false do |f| %>
        <%= f.hidden_field :done_review_id, :value => review.id %>
        <%= button_tag :type => "submit", :class => "review-done-button", data: {"turbolinks" => false} do %>
          <i class="fas fa-check"></i>
        <% end %>
      <% end %>
      <%= link_to review_path(review), method: :delete, :class => 'review-delete-button', remote: true , data: {"turbolinks" => false} do %>
        <i class="fas fa-trash"></i>
      <% end %>
    <% else %>
      <%= link_to review_path(review), method: :delete, :class => 'review-delete-button done-page-btn', remote: true , data: {"turbolinks" => false} do %>
        <i class="fas fa-trash"></i>
      <% end %>
    <% end %>
    
  </div>
</div>
<p>&nbsp;</p>
