<div class="nested-fields">
  
  <div class="subject-card">
    <div class="subject-card-top">
      <%= link_to_remove_association f, class: "remove-subject-btn d-block", data: { confirm: "本当に削除しますか?"} do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
      <div class="form-lookback_detail">
        <%= f.text_field :subject, class: 'subject-form font-awesome-solid-icon', placeholder: "科目を入力 \uf5ad" %>
      </div>
      <%= link_to_add_association f, :lookback_details, class: "add-content-btn question-btn d-block", id: "detail-add-btn-0",
      data: {association_insertion_node: "#detail-association-insertion-point-0",
      association_insertion_method: 'before',
      question_num: 0} do%>
        <p class="add-content-word d-inline">大問</p>
        <i class="fas fa-plus d-inline"></i>
      <% end %>
    
      <%= link_to_add_association f, :reviews, class: "add-content-btn review-btn d-block", id: "review-add-btn-0",
      data: {association_insertion_node: "#review-association-insertion-point-0",
      association_insertion_method: 'before'} do%>
        <p class="add-content-word d-inline">付箋</p>
        <i class="fas fa-plus d-inline"></i>
      <% end %>
    </div>
    <div class="subject-card-bottom">
      
      <div class="flex-container-detail">
        <div class="insertion-position-box-detail" id="detail-association-insertion-point-0"></div>
      </div>
      
      <div class="flex-container-review">
        <div class="insertion-position-box-review", id="review-association-insertion-point-0"></div>
      </div>
    <%= link_to_add_association f, :reviews, class: "add-content-btn review-btn-small d-block", id: "review-add-btn-0",
    data: {association_insertion_node: "#review-association-insertion-point-0",
    association_insertion_method: 'before'} do%>
      <p class="add-content-word d-inline">付箋</p>
      <i class="fas fa-plus d-inline"></i>
    <% end %>
      
      <div class="form-add-box">
        <%= f.fields_for :lookback_details do |u| %>
          <%= render "lookbacks/lookback_detail_fields", f: u%>
        <% end %>
      </div>
      
      <div class="form-add-box">
        <%= f.fields_for :reviews do |u| %>
          <%= render "lookbacks/review_fields", f: u%>
        <% end %>
      </div>
      
    </div>
  </div>
  
</div>