<div class="nested-fields">
  
  <div class="form-lookback_detail">
      <%= f.label :subject, "科目" %>
      <%= f.text_field :subject, class: 'form-control' %>
      
      <%= link_to_remove_association "削除", f %>
  </div>
  
  <div class="form-add-box">
    <%= f.fields_for :lookback_details do |u| %>
      <%= render "lookbacks/lookback_detail_fields", f: u%>
    <% end %>
  </div>
  
  <div class="form-add-box">
    <%= f.fields_for :reviews do |u| %>
      <%= render "lookbacks/review_fields", f: u%>
    <% end %>
  </div>

  <div class="grandchild-addbox" id="detail-association-insertion-point-0"></div>
  
    <%= link_to_add_association "追加", f, :reviews, class: "btn btn-primary", id: "grandchild-add-btn-0",
    data: {association_insertion_node: "#detail-association-insertion-point-0",
    association_insertion_method: 'before'}%>
    
    <%= link_to_add_association "追加", f, :lookback_details, class: "btn btn-secondry", id: "grandchild-add-btn-0",
    data: {association_insertion_node: "#detail-association-insertion-point-0",
    association_insertion_method: 'before'}%>
</div>