<% provide(:title, "振り返り編集") %>
<div class="container normal-page-container" id="form-container">
  <h1 class="edit-index-title">振り返り編集</h1>
  <%= form_with(model: @lookback, local: true ) do |f| %>
  
    <div class="form-lookback">
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= render 'shared/form_basic', f: f, edit: true %>
      
      <div class="subject-inf-box">
        <%= f.fields_for :subjects do |t| %>
          <%= render "lookbacks/edit_subject_fields", f: t %>
        <% end %>
        
        <div id="subject-association-insertion-point"></div>
      
        <div class="form-add-btn links">
          <%= link_to_add_association f, :subjects, class: "add-question-btn d-block",
            data: {association_insertion_node: '#subject-association-insertion-point',
          association_insertion_method: 'before'} do %>
            <i class="fas fa-plus d-inline"></i>
            <p class="add-subject-btn-word d-inline-block">科目を追加</p>
          <% end %>
        </div>
      </div>
      
      <div class="group">
        <%= f.text_area :all_text, class: 'inputMaterial-all_text all_text-form', :required => true %>
        <span class="highlight"></span>
        <%= f.label :all_text, "全体振り返り", class: "label label-all_text", :required => true %>
      </div>
      
      
      
      <div class="actions">
        <%= f.submit "更新する", class: "submit-btn lookbackedit-submit-btn" %>
        <i class="fas fa-chevron-right"></i>
      </div>
    </div>
  <% end %>
</div>
<script>
  $(document).ready(function() {
    var num = 0
    while($("#detail-association-insertion-point-0").length){
      num+=1
      var new_detail_id = `detail-association-insertion-point-${num}`
      var new_review_id = `review-association-insertion-point-${num}`
      $('#detail-association-insertion-point-0').attr('id', new_detail_id);
      $('#review-association-insertion-point-0').attr('id', new_review_id);
      $('#detail-add-btn-0').attr("data-association-insertion-node",`#${new_detail_id}`);
      $('#detail-add-btn-0').attr("id", `detail-add-btn-${num}`);
      $('#review-add-btn-0').attr("data-association-insertion-node",`#${new_review_id}`);
      $('#review-add-btn-0').attr("id", `review-add-btn-${num}`);
      $('#review-add-btn-0').attr("data-association-insertion-node",`#${new_review_id}`);
      $('#review-add-btn-0').attr("id", `review-add-btn-${num}`);
    }
    $('#subject-association-insertion-point') // ここでのIDはフィールドの挿入開始位置に記載したID
      .on('cocoon:before-insert', function() {
        num += 1
      })
      .on('cocoon:after-insert', function() {
        var new_detail_id = `detail-association-insertion-point-${num}`
        var new_review_id = `review-association-insertion-point-${num}`
        $('#detail-association-insertion-point-0').attr('id', new_detail_id);
        $('#review-association-insertion-point-0').attr('id', new_review_id);
        $('#detail-add-btn-0').attr("data-association-insertion-node",`#${new_detail_id}`);
        $('#detail-add-btn-0').attr("id", `detail-add-btn-${num}`);
        $('#review-add-btn-0').attr("data-association-insertion-node",`#${new_review_id}`);
        $('#review-add-btn-0').attr("id", `review-add-btn-${num}`);
        $('#review-add-btn-0').attr("data-association-insertion-node",`#${new_review_id}`);
        $('#review-add-btn-0').attr("id", `review-add-btn-${num}`);
      });
      
    var delete_subjects_num = []
    var delete_lookback_details_num = []
    var delete_reviews_num = []
    
    $('.subject-inf-box')
      .on('cocoon:before-remove', function(event) {
        // 削除ボタンを押すと、でアラートメッセージで確認が入る
        var confirmation = confirm('記録を削除します。よろしいですか？');
          if( !confirmation ){
            event.preventDefault();
          }
      })
      .on('cocoon:before-remove',".subject-card-bottom", function(event, task) {
        //nested-fieldsの親要素に以下の値を指定。
        $(this).find(".flex-container-detail").data('remove-timeout', 300);
        $(this).find(".flex-container-review").data('remove-timeout', 300);
        task.fadeOut(300);
        //subject BOXの子要素にはアラートが出ないようにする。
        event.stopPropagation();
      });
    
     // 大問を自動的に入力するコード。一番最後の大問に1を足した数が代入される。
    $(document).on("click", ".add-content-btn", function(){
      add_num = Number($(this).parent().next("div").children('div').children('div').children('div').children('div').children('.number-word-right').eq(-2).attr("value"));
      if (!add_num){ add_num = 0 }
      add_num += 1
      $(this).parent().next("div").children('div').children('div').children('div').children('div').children('.number-word-right').eq(-1).attr("value", add_num);
    });
      
  })

</script>