<div class="container normal-page-container">
  <%= form_with(model: @lookback, local: true ) do |f| %>
  
    <div class="form-lookback">
      <%= render 'shared/error_messages', object: f.object %>
      
      <div class="school-inf-box">
        <div class="group">
          <%= f.number_field :year, min: 1980 , max: 2030, sep: 1, value: 2021, 
          class: 'inputMaterial', id: "lookback_year",  :required => true %>
          <span class="highlight"></span>
          <span class="bar"></span>
          <%= f.label :year, "年度", class: "label" %>
        </div>
        
        <div class="group">
          <%= f.text_field :university, class: 'inputMaterial university-form', :required => true %>
          <span class="highlight"></span>
          <span class="bar university-bar"></span>
          <%= f.label :university, "大学名", class: "label" %>
        </div>
        
        <div class="group d-inline-block">
          <%= f.text_field :faculty, class: 'inputMaterial faculty-form', :required => true %>
          <span class="highlight"></span>
          <span class="bar"></span>
          <%= f.label :faculty, "学部", class: "label" %>
        </div>
        
        <div class="group d-inline-block department-group">
          <%= f.text_field :department, class: 'inputMaterial department-form', :required => true %>
          <span class="highlight"></span>
          <span class="bar"></span>
          <%= f.label :department, "学科" , class: "label"%>
        </div>
      </div>
      
      <div class="subject-inf-box">
        <div class="add-lookback_detail">
          <%= f.fields_for :subjects do |t| %>
            <%= render "lookbacks/edit_subject_fields", f: t %>
          <% end %>
        </div>
        
        <div id="subject-association-insertion-point"></div>
      
        <div class="form-add-btn links">
          <%= link_to_add_association f, :subjects, class: "add-question-btn d-block",
            data: {association_insertion_node: '#subject-association-insertion-point',
          association_insertion_method: 'before'} do %>
            <i class="fas fa-plus d-inline"></i>
            <p class="add-subject-btn-word d-inline-block">科目を追加</p>
          <% end %>
        </div>
      </div>
      
      <div class="group">
        <%= f.text_area :all_text, class: 'inputMaterial-all_text all_text-form', :required => true %>
        <span class="highlight"></span>
        <%= f.label :all_text, "全体振り返り", class: "label label-all_text", :required => true %>
      </div>
      
      
      
      <div class="actions">
        <%= f.submit "更新する", class: "submit-btn lookbackedit-submit-btn", data:{confirm: "a"}%>
        <i class="fas fa-chevron-right"></i>
      </div>
    </div>
  <% end %>
</div>
<script>
  $(document).ready(function() {
    var num = 0
    while($("#detail-association-insertion-point-0").length){
      num+=1
      var new_detail_id = `detail-association-insertion-point-${num}`
      var new_review_id = `review-association-insertion-point-${num}`
      $('#detail-association-insertion-point-0').attr('id', new_detail_id);
      $('#review-association-insertion-point-0').attr('id', new_review_id);
      $('#detail-add-btn-0').attr("data-association-insertion-node",`#${new_detail_id}`);
      $('#detail-add-btn-0').attr("id", `detail-add-btn-${num}`);
      $('#review-add-btn-0').attr("data-association-insertion-node",`#${new_review_id}`);
      $('#review-add-btn-0').attr("id", `review-add-btn-${num}`);
      $('#review-add-btn-0').attr("data-association-insertion-node",`#${new_review_id}`);
      $('#review-add-btn-0').attr("id", `review-add-btn-${num}`);
    }
    $('#subject-association-insertion-point') // ここでのIDはフィールドの挿入開始位置に記載したID
      .on('cocoon:before-insert', function() {
        num += 1
      })
      .on('cocoon:after-insert', function() {
        var new_detail_id = `detail-association-insertion-point-${num}`
        var new_review_id = `review-association-insertion-point-${num}`
        $('#detail-association-insertion-point-0').attr('id', new_detail_id);
        $('#review-association-insertion-point-0').attr('id', new_review_id);
        $('#detail-add-btn-0').attr("data-association-insertion-node",`#${new_detail_id}`);
        $('#detail-add-btn-0').attr("id", `detail-add-btn-${num}`);
        $('#review-add-btn-0').attr("data-association-insertion-node",`#${new_review_id}`);
        $('#review-add-btn-0').attr("id", `review-add-btn-${num}`);
        $('#review-add-btn-0').attr("data-association-insertion-node",`#${new_review_id}`);
        $('#review-add-btn-0').attr("id", `review-add-btn-${num}`);
      });
      
    var delete_subjects_num = []
    var delete_lookback_details_num = []
    var delete_reviews_num = []
    
    $('.add-lookback_detail')
      .on('cocoon:before-remove', function(event) {
        // 削除ボタンを押すと、でアラートメッセージで確認が入る
        var confirmation = confirm('記録を削除します。よろしいですか？');
          if( !confirmation ){
            event.preventDefault();
          }
      })
      .on("cocoon:after-remove", function() {
        // フィールド削除後の処理。削除したsubjectの要素を取得
      });
    
     // 大問を自動的に入力するコード。一番最後の大問に1を足した数が代入される。
    $(document).on("click", ".add-content-btn", function(){
      add_num = Number($(this).parent().next("div").children('div').children('div').children('div').children('div').children('.number-word-right').eq(-2).attr("value"));
      if (!add_num){ add_num = 0 }
      add_num += 1
      $(this).parent().next("div").children('div').children('div').children('div').children('div').children('.number-word-right').eq(-1).attr("value", add_num);
    });
      
      
    $(document).on("click", ".lookbackedit-submit-btn", function(){
      delete_subjects = $(".add-lookback_detail").children().filter(":hidden").find(".subject-card-top").find("input[type=hidden]")
        delete_subjects.each( function() {
          // 削除したsubjectのインデックス番号をリストに格納
          delete_subjects_num.push(Number($(this).attr('id').slice(29,30)))
        })
      console.log(delete_subjects_num)
      delete_details = $(".flex-container-detail").children().filter(":hidden").find(".lookback-detail-card-top").find("input[type=hidden]")
        delete_details.each( function() {
          // 削除したlookback_detailのインデックス番号を親要素のsubjectのインデックス番号と共にリストに格納
          delete_lookback_details_num.push([Number($(this).attr('id').slice(29,30)), Number($(this).attr('id').slice(59,60))])
        })
      //console.log(delete_lookback_details_num)
      
      delete_reviews = $(".flex-container-review").children().filter(":hidden").find(".review-card-box").find("input[type=hidden]").eq(1)
        delete_reviews.each( function() {
          // 削除したreviewのインデックス番号を親要素のsubjectのインデックス番号と共にリストに格納
          delete_reviews_num.push([Number($(this).attr('id').slice(29,30)), Number($(this).attr('id').slice(50,51))])
        })
      //console.log(delete_reviews_num)
      var subjects = <%= @lookback_subject_ids  %>
      $.each(delete_subjects_num, function(element) {
         var id = subjects[element]
        //subjectの削除
          $.ajax({
          url: `/subjects/${id}`,
          type: "DELETE"
        })
        .done(function(){
          console.log($(".subject-inf-box").children().children().filter(":hidden").filter("div").find("input"))
          $(".subject-inf-box").children().children().filter(":hidden").filter("div").find("input").attr("disabled","disabled")
          $(".subject-inf-box").children().children().filter(":hidden").filter("div").next().attr("disabled","disabled")
        })
      })
      
    });
  })

</script>