<% provide(:title, "振り返り") %>
<div class="container normal-page-container" id="form-container">
  <div class="show-edit-btn-box">
    <a class="show-edit-btn" href=<%= edit_lookback_path(@lookback) %> data-turbolinks="false">
        編集する&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fas fa-pencil-alt"></i>
    </a>
    
  </div>
  
  <div class="form-lookback">
    <div class="school-inf-box">
    <div class="group">
      <div class="inputMaterial" id = "lookback_year">
        <%= @lookback.year %>
      </div>
      <span class="highlight"></span>
      <span class="bar"></span>
      <div class="label">年度</div>
    </div>
    
    <div class="group">
      <div class="inputMaterial" id = "lookback_university">
        <%= @lookback.university %>
      </div>
      <span class="highlight"></span>
      <span class="bar university-bar"></span>
      <div class="label">大学名</div>
    </div>
    
    <div class="group inline-block">
      <div class="inputMaterial" id = "lookback_faculty">
        <%= @lookback.faculty %>
      </div>
      <span class="highlight"></span>
      <span class="bar"></span>
      <div class="label">学部</div>
    </div>
    
    <div class="group inline-block department-group">
      <div class="inputMaterial" id = "lookback_department">
        <%= @lookback.department %>
      </div>
      <span class="highlight"></span>
      <span class="bar"></span>
      <div class="label">学科</div>
    </div>
  </div>
  
  <% @subjects.each do |subject| %>    
    <div class="subject-card">
      <div class="subject-card-top show-subject">
          <%= subject.subject %>
      </div>
      <div class="subject-card-bottom">
        
        <div class="flex-container-detail">
          <% instance_variable_get("@lookback_details_#{subject.id}").each do |lookback_detail| %>
              <div class="lookback-detail-card">
                <div class="lookback-detail-card-top">
                  <div class="number-word-left d-inline">大問：</div>
                    <%= lookback_detail.number %>
                </div>
                <div class="lookback-detail-card-bottom">
                  <div class="lookback-detail-card-bottom-formbox form-unit show-detail">
                    <%= lookback_detail.unit %>
                  </div>
                  <div class="lookback-detail-card-bottom-formbox form-lookback_word show-detail">
                    <%= lookback_detail.text %>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
        
        <div class="flex-container-review">
          <% instance_variable_get("@reviews_#{subject.id}").each do |review| %>
            <div class="review-card-box review-card-<%= review.id %>">
              <%= render "lookbacks/show_review", review: review, done_review_ids: @done_review_ids %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
      
  <div class="group">
    <div class='inputMaterial-all_text all_text-form'>
      <%= @lookback.all_text %>
    </div>
    <span class="highlight"></span>
    <div class="label label-all_text">全体振り返り</div>
  </div>
  
  <div class="actions">
    <a href="<%= lookbacks_path %>" class="submit-btn lookbackedit-submit-btn show-btn-text">振り返り一覧に戻る</a>
    <i class="fas fa-chevron-left show-btn-icon"></i>
  </div>
  
</div>