<div class="container normal-page-container">
  <div class="page-margin-box">
    <div class="row">
      <div class="col-lg-4">
        <div id="user_home-user-box">
          <%= image_tag @user.image, id: "user_home-userimage"%>
          <div id="user_home-username">
            <%= @user.name %>
          </div>
          <a class="user-home-lookback-btn d-block" href=<%= new_lookback_path %> data-turbolinks="false">
            <i class="fas fa-pencil-alt"></i>
            <p class="big-word">振り返りを書く！</p>
          </a>
          <%= form_with model: @review, url: reviews_path, method: :post, local: true do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <div class="review-card-box review-card-box-user-home">
                <div class= "review-tape"></div>
                <div class="l-border l-p-t l-p-r l-p-b l-p-l review-box">
                  <%= f.text_area :content, class: "review-text", :required => true %>
                  <div class="deadline-box deadline-box-user-left">
                    <%= f.date_field :deadline_at, class: "deadline-text deadline-tect-user-left d-inline", min: Date.current, :required => true %>
                    <p class="deadline-word d-inline">まで</p>
                  </div>
                  </div>
                <p>&nbsp;</p>
            </div>
            <div class="actions-user-home">
              <%= f.submit "記録する", class: "submit-user-home-btn"%>
              <i class="fas fa-paper-plane"></i>
            </div>
          <% end %>
        </div>
      </div>
      <div id="user_home-right" class="col-lg-8">
        <h1 class="home-box-title">振り返り</h1>
        <div id="lookbacks-box">
          <%= render "shared/lookback_index" %>
          <div class="detail-jamp-btn-box">
            <%= link_to lookbacks_path, class: "detail-jamp-btn", data: {"turbolinks" => false} do%>
              <p class="detail-jamp-btn-word d-inline">振り返り一覧</p>
              <i class="fas fa-caret-right d-inline"></i>
            <% end %>
          </div>
        </div>
        <div id="reviews-box">
          <h1 class="home-box-title home-box-title-review">Todo</h1>
          <%= render "shared/review_index" %>
          <div class="detail-jamp-btn-box-review">
            <%= link_to reviews_path, class: "detail-jamp-btn", data: {"turbolinks" => false} do%>
              <p class="detail-jamp-btn-word d-inline english">Todo一覧</p>
              <i class="fas fa-caret-right d-inline"></i>
            <% end %>
          </div>
        </div>
        </div>
      </div>
        
      </div>
    </div>
  </div>
  
</div>

