<% @lookbacks.each do |lookback| %>
  <div class="lookback-card-box">
    <a class="lookback-card" href="<%= lookback_path(lookback) %>">
      <div class="lookback-card-left">
        <div class="lookback-card-left-text">
          <p>CHECK!</p>
          <i class="fas fa-search"></i>
        </div>
      </div>
      <div class="lookback-card-right">
        <p class="lookback-card-year lookback-card-text year-res"><%= lookback.year %>年度</p>
        <p class="lookback-card-name lookback-card-text">
          <%= lookback.university%>
          <!-- 「大学」と入っていなかったら末尾に大学をつける。模試等で大学の名前がつかない可能性があることからコメントアウト -->
          <!--<%= "大学" if !lookback.university.include?("大学") %>-->
        </p>
        <p class="lookback-card-faculty lookback-card-text d-inline">
          <%= lookback.faculty %>
          <%= "学部" if !lookback.faculty.include?("学部") %>
        </p>
        <p class="lookback-card-department lookback-card-text d-inline">
          <%= lookback.department %>
          <%= "学科" if !lookback.department.include?("学科") %>
        </p>
      </div>
      </a>
      <div class="lookback-card-btn-area">
        <%= link_to edit_lookback_path(lookback), class: "lookback-card-btn lookback-card-edit-btn d-block", data: {"turbolinks" => false} do%>
          編集<i class="fas fa-pen"></i>
        <% end %>
        <%= link_to lookback, method: :delete, class: "lookback-card-btn lookback-card-destroy-btn d-block", data: { confirm: "本当に削除しますか?"} do%>
          削除<i class="fas fa-trash"></i>
        <% end %>
      </div>
  </div>
<% end %>