<div id="reviews-box">
  <h1 class="home-box-title home-box-title-review">Todoふせん</h1>
  <% [@reviewsNear, @reviewsNotNear, @reviewsExpire].zip(["near-three-days", "", "expired"]) do |objects, effect| %>
    <div class="review-cards-box-all review-<%= effect if !effect.empty? %>cards-box">
      <% objects.each do |review| %>
        <div class="review-card-box">
            <div class= "review-tape"></div>
            <div class="l-border l-p-t l-p-r l-p-b l-p-l review-box review-box-user-page <%= effect if !effect.empty? %>">
                <div class="review-text review-text-user <%= effect if !effect.empty? %>">
                  <%= review.content %>
                </div>
                <div class="deadline-box deadline-box-user <%= effect if !effect.empty? %>">
                    <div class="deadline-text d-inline <%= effect if !effect.empty? %> deadline-text-user-show" >
                      <%= review.deadline_at.strftime("%Y年%m月%d日") %>
                    </div>
                    <p class="deadline-word d-inline">まで</p>
                </div>
            </div>
            <p>&nbsp;</p>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="detail-jamp-btn-box-review">
    <%= link_to reviews_path, class: "detail-jamp-btn", data: {"turbolinks" => false} do%>
      <p class="detail-jamp-btn-word d-inline">Todoふせん一覧</p>
      <i class="fas fa-caret-right d-inline"></i>
    <% end %>
  </div>
</div>