<div class="review-cards-box-all">
  <% [@reviewsNear, @reviewsNotNear, @reviewsExpire].zip(["near-three-days", "", "expired"]) do |objects, effect| %>
    <% objects.each do |review| %>
      <div class="review-card-box review-card-<%= review.id %>">
          <div class= "review-tape"></div>
          <div class="l-border l-p-t l-p-r l-p-b l-p-l review-box review-box-user-page <%= effect if !effect.empty? %> review-click-event" data-review-id="<%= review.id %>" >
              <div class="review-text review-text-user <%= effect if !effect.empty? %>">
                <%= review.content %>
              </div>
              <div class="deadline-box deadline-box-user <%= effect if !effect.empty? %>">
                  <div class="deadline-text d-inline <%= effect if !effect.empty? %> deadline-text-user-show" >
                    <%= review.deadline_at.strftime("%Y年%m月%d日") %>
                  </div>
                  <p class="deadline-word d-inline">まで</p>
                  <%= form_with model: @done, url: dones_path, method: :post, local: false do |f| %>
                    <%= f.hidden_field :review_id, :value => review.id %>
                    <%= button_tag :type => "submit", :class => "review-done-button", data: {"turbolinks" => false} do %>
                      <i class="fas fa-check"></i>
                    <% end %>
                  <% end %>
                  <%= link_to review_path(review), method: :delete, :class => 'review-delete-button', remote: true , data: {"turbolinks" => false} do %>
                    <i class="fas fa-trash"></i>
                  <% end %>
              </div>
          </div>
          <p>&nbsp;</p>
      </div>
    <% end %>
  <% end %>
</div>

  