<div class="review-cards-box-all">
  <% [instance_variable_get("@reviewsNear_#{subject}"), instance_variable_get("@reviewsNotNear_#{subject}"), instance_variable_get("@reviewsExpire_#{subject}")].zip(["near-three-days", "", "expired"]) do |objects, effect| %>
    <% objects.each do |review| %>
      <div class="review-card-box review-card-<%= review.id %>">
          <div class= "review-tape"></div>
          <div class="l-border l-p-t l-p-r l-p-b l-p-l review-box review-box-user-page <%= effect if !effect.empty? %> review-click-event">
              <div class="review-text review-text-user <%= effect if !effect.empty? %>">
                <%= review.content %>
              </div>
              <div class="deadline-box deadline-box-user <%= effect if !effect.empty? %>">
                  <div class="deadline-text d-inline <%= effect if !effect.empty? %> deadline-text-user-show" >
                    <%= review.deadline_at.strftime("%Y年%m月%d日") %>
                  </div>
                  <p class="deadline-word d-inline">まで</p>
                  <%= link_to review_path(review), method: :delete, :class => 'review-done-button', remote: true , data: {"turbolinks" => false} do %>
                    <i class="fas fa-check"></i>
                  <% end %>
                  <%= link_to review_path(review), method: :delete, :class => 'review-delete-button', remote: true , data: {"turbolinks" => false} do %>
                    <i class="fas fa-trash"></i>
                  <% end %>
              </div>
          </div>
          <p>&nbsp;</p>
      </div>
    <% end %>
  <% end %>
</div>
  