<div class="container">

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#taball" role="tab" aria-controls="home" aria-expanded="true">全科目</a>
    </li>
    <% @subjects.each_with_index do |subject, num| %>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tab<%= num %>" role="tab" aria-controls="profile"><%= subject %></a>
      </li>
    <% end %>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="taball" role="tabpanel" aria-labelledby="1-tab">

      <div class="tab-pane-header">
        <%= render "shared/review_index" %>
      </div>

    </div>
    <% @subjects.each_with_index do |subject, num| %>
      <div class="tab-pane fade" id="tab<%= num %>" role="tabpanel" aria-labelledby="2-tab">
        <div class="tab-pane-header">
           <%= render "reviews/review_index_with_subject", subject: subject %>
        </div>
  
      </div>
    <% end %>
  </div>


</div>