<div class="footer-box">
  <a href = <%= root_path %> class="logo-box-footer" data-turbolinks="false">
    <img class="icon-footer" id="footerlogo" src="/assets/lookback_logo_white">
  </a>
  <div class="footer-menu">
    <ul class="nav footerr-action" id="footer-nav">
      <% if current_user %>
        <li class="nav-item"><%= link_to "ホーム", root_path ,class: "nav-link underbar-action", data: {"turbolinks" => false} %></li>
        <li class="nav-item left-border"><%= link_to "マイページ", user_path(current_user.id) ,class: "nav-link underbar-action", data: {"turbolinks" => false} %></li>
        <li class="nav-item left-border"><%= link_to "振り返り一覧", lookbacks_path ,class: "nav-link underbar-action", data: {"turbolinks" => false} %></li>
        <li class="nav-item left-border"><%= link_to "Todo一覧", reviews_path ,class: "nav-link underbar-action", data: {"turbolinks" => false} %></li>
        <li class="nav-item left-border"><%= link_to "ログアウト", log_out_path, class: "nav-link underbar-action", data: { confirm: "本当にログアウトしますか?"}%></li>
        <li class="nav-item left-border"><%= link_to "振り返りを書く", new_lookback_path ,class: "nav-link underbar-action", data: {"turbolinks" => false} %></li>
      <% else  %>
        <li><%= link_to "Googleでログイン", "/auth/google_oauth2", method: :post, class: "nav-link" %></li>            
      <% end %>
    </ul>
  </div>
</div>
<div class="copyright">
    © 2021 nagasho
</div>