<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> - カコモンバック</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag    'application',
                               'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if current_user %>
        <%= image_tag current_user.image %>
        <%= current_user.name %>さん
        <%= link_to "ログアウト", log_out_path %>
      <% else  %>
        ゲストさん
        <%= link_to "Googleでログイン", "/auth/google_oauth2", method: :post %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>